/.vscode
/about.html
/Addition.html
/addition.js
/APIdemo.js
/classis.code-workspace
/college.js
/contact.html
/export.js
/exportCal.js
/express.html
/express.js
/express1.html
/FileHandling.js
/fileread.js
/First.js
/Form.html
/formHandle.html
/hello.txt
/Menu.js
/ModelApp
/NodeTask.html
/NodeTask.js
/NodeTask1.html
/node_modules
/package-lock.json
/package.json
/register.html
/register.txt
/registertask.html
/Registertask.js
/server.js
/Studentrouter.js
/teacherrouter.js
/UserChoise.js
/userdata.txt